<mt:setvarblock name="html_head" append="1">
    <link rel="stylesheet" href="<mt:var name="static_uri">plugins/UtilityBelt/utilitybelt.css" type="text/css" media="screen" title="Utility Belt" charset="utf-8" />
    <script src="<mt:var name="static_uri">plugins/UtilityBelt/js/jquery-1.2.6.min.js"></script>
    <script src="<mt:var name="static_uri">plugins/UtilityBelt/js/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="<mt:var name="static_uri">js/tc/client.js"></script>
    <script src="<mt:var name="static_uri">plugins/UtilityBelt/js/utilitybelt.js"></script>
</mt:setvarblock>